html { height: 100%; }
body { background: #fff; font: 400 24px/1.5 "Open Sans", serif; color: #111; height: 100%; }

h1 { font: 400 2.4em/1.2 "Open Sans", sans-serif; }
h2 { font: 400 2em/1.5 "Open Sans", sans-serif; margin: 1em 0;}
h3 { font: 400 1.2em/1.1 "Open Sans", sans-serif; margin: 1em 0 0.4em; }

p {
	margin-bottom:1.5em;
	font-family:"Open Sans", sans-serif;
	font-weight:300;
}

#banner {
	background: url(../images/bg.jpg) no-repeat 50% 100%;
	color: #000;
	background-color:#fff;
	height: 100%;
	width: 100%;
	min-height:740px;
	border-bottom:1px solid #bbb;
}

#bannertext {
	width: 28em;
	position: relative;
	top: 40px;
	left: 50%;
	margin-left: -15em;
}

.logo {
	height:36px;
	margin-bottom:10px;
}

#footer {
	padding:50px 0;
	font-size:12px;
}

section#why i {
	height:200px;
	width:200px;
	font-size:100px;
	line-height:100px;
	text-align:center;
	padding:50px;
	margin-top:30px;
	position:relative;
	left:50%;
	margin-left:-100px;
	margin-top:50px;

	color:#fff;
	background-color:#66CDE8;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	
}

section#features h3 {
	color:#777;
	font-size:1em;
	text-transform:uppercase;
}

section#features i {
	height:80px;
	width:80px;
	position:relative;
	left:50%;
	margin-left:-40px;

	font-size:50px;
	line-height:60px;
	text-align:center;
	padding:10px;

	color:#fff;
	background-color:#55B74E;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	
}

section#features p {
	font-size:0.7em;
}